.typeform4-embed {
    border: 1px solid rgba(126, 126, 126, 0.61);
    width: 270px;
    height: 270px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
    box-shadow: 0 0 8px 6px rgba(111, 111, 111, 0.329);
}